[submodule "references/openCypher"]
	path = references/openCypher
	url = https://github.com/opencypher/openCypher
[submodule "references/neo4j-skills"]
	path = references/neo4j-skills
	url = git@github.com:neo4j-contrib/neo4j-skills.git
